<div>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h4>Employee Create
                    <a routerLink="/" class="btn btn-danger float-end">back</a>
                </h4>
            </div>
            <div class="card-body">
                <form (ngSubmit)="saveEmployee()">
                    <div class="mb-3">
                        <label>Login</label>
                        <input type="text" [(ngModel)]="login" name="login" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Name</label>
                        <input type="text" [(ngModel)]="name" name="name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>CPF</label>
                        <input type="number" [(ngModel)]="cpf" name="cpf" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Email</label>
                        <input type="email" [(ngModel)]="email" name="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Address</label>
                        <input type="text" [(ngModel)]="address" name="address" class="form-control">
                    </div><div class="mb-3">
                        <label>password</label>
                        <input type="password" [(ngModel)]="password" name="password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
